<h1>Add another Pirate</h1>
<form method="POST" action="/pirates">
    <label for="name">name:</label>
    <input name="name">
    <label for="birthplace">birthplace:</label>
    <input name="birthplace">
    <label for="death_year">year of death:</label>
    <input name="death_year">
    <label for="base">base:</label>
    <input name="base">
    <label for="nickname">nickname:</label>
    <input name="nickname">
    <div>
        <input type="submit" value="Add a New Todo">
    </div>
</form>