<main>

	<h2>Create Your Own Donut!</h2>

	<a href="/">Return to Home Page</a>

	<div id="edit-form" class="donut-container-show">

<form action="/" method="POST">
    <label>Name: </label>
    <input type="text" name="name"><br>
    <label>Description: </label>
    <input type="text" name="description"><br>
	<label>Image: </label>
    <input type="text" name="img"><br>
	<label>Price: </label>
    <input type="number" name="price"><br>
	<label>Qunatity: </label>
    <input type="number" name="qty"><br>
    <button type="submit">Create</button>
</form>

	</div>
</main>
