<h1> You have {{total}} Todos! </h1>
<h3><a href="/todos/new">Add a New Todo</a></h3>
<ul>
  {{#each todos}}
    <li>Description: <a href="/todos/{{@index}}">{{description}}</a></li>
    <li>Urgent: {{urgent}}</li>
    <br>
  {{/each}}
</ul>
